legacy-peer-deps=true
// .npmrc on npm:n asetustiedosto, jonka npm lukee automaattisesti aina kun ajat npm install kyseisessä kansiossa
// älä kaadu virheeseen, jos kaksi pakettia haluavat eri version samasta riippuvuudest